<div id="page-weather">
    <div class="row">
        <div class="col-lg-4">

            <form class="form-inline" novalidate>
                <div class="form-group">
                    <label for="timeStartRain">Time in seconds</label>
                    <input type="number" class="form-control" ng-model="startRainSeconds" id="timeStartRain" placeholder="time" value="10" step="1" min="1" max="10000">
                </div>
                <button type="button" class="btn btn-success" ng-click="startRain(startRainSeconds)">Start Rain</button>
                <button type="button" class="btn btn-success" ng-click="stopRain()">Stop Rain</button>
                <br />

                <br />
                <div class="form-group">
                    <label for="timeDayNight">Time in seconds</label>
                    <input type="number" class="form-control" ng-model="setDaySeconds" id="timeDayNight" placeholder="time" value="10" step="1" min="1" max="10000">
                </div>
                <button type="button" class="btn btn-success" ng-click="setDay(setDaySeconds)">Set day</button>
                <button type="button" class="btn btn-success" ng-click="setNight(setDaySeconds)">Set night</button>
            </form>


        </div>
    </div>
</div>